/* global 세팅 */

:root{
 
 /* color */
 --color-white: #ffffff;
 --color-light-white: #eeeeee;
 --color-dark-white: #bdbdbd;
 --color-blue : #4387db;
 --color-light-blue :#03c0cd;
 --color-dark-blue: #4271db;
 --color-dark-gray: #4d4d4d;
 --color-gray: #616161;
 --color-light-gray: #7c7979;
 --color-green: #1c613b;
 --color-light-yellow: #fff7d1;
 /* --color-yellow: #ffd43b;
 --color-orange: #feb546; */
 --color-black: #000000;

 /* font size */
 --font-large: 48px;
 --font-medium: 28px;
 --font-regular: 18px;
 --font-small: 16px;
 --font-micro: 14px;

 /* font weight */
 --weight-bold: 700;
 --weight-semi-bold: 600;
--weight-regular: 400;

/* size */
--size-border-radius : 4px;

/* Animation */
--animation-duration : 300ms;

}




/* Universal tags */

* {
    box-sizing: border-box;
}

body {
    margin : 0;
    font-family: 'Open Sans', sans-serif;
    cursor : default;
}

button {
    background-color: transparent;
    cursor: pointer;
    border : none;
    outline: none;
}

/* typography */

h1 {
    font-size : var(--font-large);
    font-weight: var(--weight-bold);
    color : var(--color-black);
    margin : 16px 0;
    /* 위아래 양 옆에 */
}

h2 {
    font-size : var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color : var(--color-black);
    margin : 8px 0;
}

h3 {
    font-size : var(--font-regular);
    font-weight: var(--weight-regular);
    color : var(--color-black);
    margin : 8px 0;
}

p {
    font-size : var(--font-regular);
    font-weight: var(--weight-regular);
    color : var(--color-black);
    margin : 4px 0;
}

/* Navbar */

#navbar {
    position: fixed;
    width : 100%;
    display : flex;
    /* 중심축에서 정렬 */
    justify-content: space-between;
    background-color :transparent;
    align-items: center;
    color : var(--color-dark-gray);
    padding : 16px;
    z-index: 1;
}

#navbar.navbar-dark{
    background-color: var(--color-pink);
    color : var(--color-white);
    padding : 8px;
    transition: all var(--animation-duration) ease-in-out;
}

a {
    text-decoration: none;
    color : var(--color-dark-gray);
}

ul {
    list-style: none;
    padding-left : 0;
}

.navbar_menu {
    display: flex;
    
}

.navbar_menu_item {
    padding : 8px 12px;
    margin : 0 4px;
    cursor : pointer;
    border-radius: var(--size-border-radius);
    color : var(--color-white);
    
}

.navbar_logo img {
    width : 70px;
}


/* .navbar_menu_item.active {
    border : 1px solid gray;
}
 */

.navbar_menu_item:hover {
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
    color : var(--color-light-gray);
}

.navbar_toggle {
    position : absolute;
    right : 32px;
    top : 24px;
    font-size : 24px;
    color : var(--color-gray);
    display : none;
    /* opacity 사용하면 클릭이 가능함. display로 처리해주는 게 좋다 */
}

/* Home */

#home {
    background: url('imgs/background2.png') center/cover no-repeat;
    padding: 40px;
    padding-top : 120px;
    text-align : center;
}

.home_profile{
    width : 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home_title {
    color : var(--color-dark-gray);
}

.home_description {
    color : var(--color-dark-gray);
}

.home_contact {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    margin: 24px;
    padding: 8px 12px;
    border : 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    color : var(--color-white);
    transition: all var(--animation-duration) ease-in-out;
}


.home_contact:hover {
    color : var(--color-dark-white);
    border : 1px solid var(--color-dark-white);
}

/* Section common */

.section {
    padding : 50px;
    text-align: center;
    margin : auto;
}

.section_container {
    max-width: 1200px;
    margin : auto;
}

/* About */


.about_major {
    display : flex;
    justify-content: space-between;
    margin : 80px 0;
}


.major_icon {
    width : 170px;
    height : 170px;
    line-height: 170px;
    font-size : 70px;
    margin : 0 auto;
    border : 1px solid var(--color-light-blue);
    color : var(--color-light-blue);
    border-radius: 50%;
    margin-bottom : 16px;
}

.major_title, .major_description {
    color : var(--color-dark-gray);
}

.major_description {
    font-size: var(--font-small);
}


.major_icon i {
    transition: all var(--animation-duration) ease;
}

.major_icon:hover {
    color : var(--color-dark-blue);
    border : 1px solid var(--color-dark-blue);
    transform: rotate(-30deg) scale(1.1);
}


.about_school {
    margin : 80px 0;
}

.school {
    display : flex;
    align-items: center;
}

.school_description {
    margin : 0 16px;
    text-align: left;
}

.school_name, .school_period {
    color : var(--color-light-gray);
}

.school_logo {
    width : 130px;
    margin : 10px; 
}

.school_name {
    font-size : var(--font-small);
}

.school_period {
    font-size : var(--font-micro);
}

/* Skills */

#skills {
    background-color : var(--color-light-pink);
}

.skillset {
    display : flex;
    background-color : var(--color-light-gray);
    color : var(--color-light-white);
    margin : 30px 0;
}

.skillset_title {
    color : var(--color-white); 
    /* margin : auto;   */
}

.skillset_left {
    flex-basis: 60%;
    background-color : var(--color-dark-gray);
    padding : 20px 40px;
}

.skill_description {
    display : flex;
    justify-content: space-between;
}

.skillset_right {
    flex-basis: 40%;
}

.tools {
    background-color : var(--color-gray);
}

.skill {
    margin-bottom : 32px;
}


/* 프로그레스 바 만들기 */

.skill_bar {
    width : 100%;
    height : 3px;
    background-color : var(--color-gray);
    margin-top: 8px;
}

/* 프로그레스 바 색 채우기 */
.skill_value {
    /* width : 70%; */
    height: 3px;
    background-color: var(--color-dark-pink);
}

.tools , .etc {
    padding : 20px;
}


/* exp */

#experience {
    background-color: var(--color-light-white);
}


.exp {
    margin : 40px;
}

.exp_list {
    display : flex;
}


.exp_logo {
    width : 70px;
    height: 70px;
}

.exp_bubble {
    background-color : var(--color-white);
    border-radius: var(--size-border-radius);
    padding : 18px;
}

.exp_bubble p {
    color : var(--color-light-gray);
}

/* .exp_bubble a {
    color : var(--color-pink);
} */


/* Work */

.work_categories {
    margin : 40px;
}



.work_btn {
    border : 1px solid var(--color-dark-gray);
    border-radius: var(--size-border-radius);
    font-size : var(--font-regular);
    padding : 8px 48px;
}

/* .work_btn.active */

.work_btn.selected {
    background-color: var(--color-pink);
    color : var(--color-white);
}

.work_btn:hover {
    background-color : var(--color-pink);
    color : var(--color-white);
}

.work_btn:hover .count{
    opacity: 1;
    top : 0;
}

.count {
    display : inline-block;
    background-color:  var(--color-orange);
    border-radius: 50%;
    color : var(--color-light-white);
    width : 20px;
    height : 20px;
    line-height: 20px;
    position : relative;
    top : -20px;
    left : 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work_projects{
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}


.work_projects.ani-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}


.project {
    width : 280px;
    height : 250px;
    margin : 2px;
    background-color: var(--color-light-white);
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
}

.project.invisible {
    display : none;
}


.project_img {
    max-width : 100%;
    max-height: 100%;
}

.project_description {
   position : absolute; 
   background-color : var(--color-black);
   display : flex;
   flex-direction: column;
   justify-content: center;
   top : 0;
   left : 0;
   width : 100%;
   height : 100%;
   opacity: 0;
   transform: translateY(10px);
   transition: all var(--animation-duration) ease-in;
}

.project_description:hover{
    opacity: 0.8;
    transform: translateY(0px);
}

.project_description h3 {
    color : var(--color-orange);
}

.project_description h3:after{
    content : '';
    display : block;
    position: relative;
    left : 50%;
    transform: translateX(-50%);
    margin-top : 8px;
    width : 50px;
    height: 2px;
    background-color: var(--color-dark-white);
}

/* contact */

#contact {
    background-color : var(--color-light-pink);
}

.contact_title, .contact_email,.contact_phone {
    color : var(--color-pink);
}

.contact_title, .contact_phone{
    margin : 32px 0;
}

.contact_phone{
    font-size : var(--font-medium);
}

.contact_links {
    font-size : var(--font-large);
    margin : 24px 0;
}

.contact_links i {
    transition: all var(--animation-duration) ease-in;
}

.contact_links i:hover {
    transform: scale(1.1);
    color : var(--color-green);
}


/* scroll arrow */

.arrow_up {
    position : fixed;
    bottom : 50px;
    right : 50px;
    width : 50px;
    height : 50px;
    font-size : 30px;
    background-color : var(--color-dark-pink);
    color : var(--color-white);
    border-radius: 50%;
    /* display : none; */
    opacity : 0;
    transition : opacity 300ms ease-in;
    pointer-events: none;
}


.arrow_up.visible {
    display : block;
    opacity: 1;
    pointer-events: auto;
    
}




/* 768px 이하 screen */

@media screen and (max-width : 768px){
    .navbar_toggle {
        display : block;
        
    }


    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color : var(--color-pink);
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width : 100%;
        display : none;
    }

    .navbar_menu.open {
        display : block;
    }

    .about_major {
        flex-direction: column;
    }

    .major{
        margin-bottom: 38px;
    }

    .skillset {
        flex-direction: column;
    }

    .project {
        flex-grow: 1;
    }

    .work_btn{
        margin-bottom: 8px;
    }
}
